/* @import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;

}
body {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
 background-color: #16098A;
 background-color: #030728;
 /* background-image: url(..//bg.png); */
 background-image: url(../vb.jpg);
 background-size: cover;
 /* background-position: center; */
 background-attachment: fixed;
 background-repeat: no-repeat;
}
#root {
  width: 100%;
}
.currency-converter {
  /* background-color: #f0f0f0; */
  background: rgba(2, 7, 40, 0.3);
  padding: 40px 30px 50px;
  max-width: 410px;
  margin: 0 auto;
  border-radius: 20px;
  border: solid 1px rgba(255, 255, 255, 0.5) ;
  backdrop-filter: blur(-200px);
}
.title {
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;
  text-align: center;


}
.converter-form {
  margin-top: 35px;
}
 label {
  font-size: 1.2rem;
  color: #fff;
  display: block;
 }
 .form-group {
  display: flex;
  flex-direction: column;
 }
 .form-group-A {
  display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    margin-top: 40px;
  
 }
 .converter-form .form-group label {
  margin-bottom: 10px;
  color: #f0f0f0;
 }
 .converter-form .form-input, .submit-button, .exhange-rate-results{
  padding: 5px;
  border-radius: 7px;
  width: 100%;
  color: #fff;
  font-size: 1srem;
  min-height: 40px;
  background: rgba(255, 255, 255, 0.1);
  border: solid 1px rgba(255, 255, 255, 0.5) ;
  outline: none;
 }
 .converter-form .form-input {
  font-weight: 500;
  padding: 10px;

 }

 .currency-select {
  background: rgba(255, 255, 255, 0.1);
  border: solid 1px rgba(255, 255, 255, 0.5) ;
  outline: none;
  padding: 7px;
  border-radius: 7px;
  width: 100%;
  font-size: 1.2rem;
  color: #fff;
  min-height: 47px;
  display: flex;
  align-items: center;
 }
 .currency-select img {
  width: 20px;
  height: 20px;
  margin-right: 7px;
 }
 .currency-select .currency-dropdown {
  display: flex;
  flex-direction: column;
  padding: 7px;
  border-radius: 7px;
  background: none;
  border: none;
  outline: none;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  }
  .currency-select .currency-dropdown option {
    background-color: #f0f0f0;
    color: #000;
    padding: 10px;
    border-radius: 7px;
    font-size: 1rem;
    cursor: pointer;

  }
 .swap-icon {
  background: rgba(255, 255, 255, 0.1);
  border: solid 1px rgba(255, 255, 255, 0.5) ;
  outline: none;
  padding: 7px;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  color: #fff;
  min-height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: 33px;
 }
 .swap-icon img { 
  width: 20px;
  height: 20px;
  }
  .swap-icon:hover {
    background: rgba(255, 255, 255, 0.3);
  }


.submit-button {

  background: #1a73e8;
  border: none;
  padding: 10px 20px;
  border-radius: 7px;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 500;
  margin-top: 20px;
  width: 70%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  position: relative;
  z-index: 1;
  box-shadow: 0px 0px 10px rgba(0, 0,
  0, 0.1);
  margin: auto;
  margin-top: 30px;

}

.submit-button:hover {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  color: #030728;
  transition: all 0.3s ease;
  }
  
.exhange-rate-results {
  font-size: 1.5rem;
  font-weight: 500;
  color: #000;
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  padding: 10px 20px;
  border-radius: 7px;
  cursor: pointer;
  font-weight: 500;
  margin-top: 20px;
  color: #fff;
  text-align: center;
  letter-spacing: 0.5px;
}
 .F, .T {
  margin-bottom: 10px !important;

 }
 /* improvements on the UI */
 